<?xml version="1.0" encoding="UTF-8"?> 
<beans xmlns="http://www.springframework.org/schema/beans" 
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p" 
  xmlns:context="http://www.springframework.org/schema/context" 
  xsi:schemaLocation="http://www.springframework.org/schema/beans   
            http://www.springframework.org/schema/beans/spring-beans.xsd   
            http://www.springframework.org/schema/context   
            http://www.springframework.org/schema/context/spring-context.xsd">  
  
	<!-- 加载配置属性文件 按需加载 -->  
	<context:property-placeholder ignore-unresolvable="true" location="classpath:properties/redis-cluster-config.properties" />  
	<bean id="redisClusterConfiguration" class="org.springframework.data.redis.connection.RedisClusterConfiguration">  
		<property name="maxRedirects" value="${redis.maxRedirects}"></property>  
		<property name="clusterNodes">  
			<set>  
				<bean class="org.springframework.data.redis.connection.RedisClusterNode">  
					<constructor-arg name="host" value="${redis.host1}"></constructor-arg>  
					<constructor-arg name="port" value="${redis.port1}"></constructor-arg>  
				</bean>  
				<bean class="org.springframework.data.redis.connection.RedisClusterNode">  
					<constructor-arg name="host" value="${redis.host2}"></constructor-arg>  
					<constructor-arg name="port" value="${redis.port2}"></constructor-arg>  
				</bean>  
					<bean class="org.springframework.data.redis.connection.RedisClusterNode">  
					<constructor-arg name="host" value="${redis.host3}"></constructor-arg>  
					<constructor-arg name="port" value="${redis.port3}"></constructor-arg>  
				</bean>  
				<bean class="org.springframework.data.redis.connection.RedisClusterNode">  
					<constructor-arg name="host" value="${redis.host4}"></constructor-arg>  
					<constructor-arg name="port" value="${redis.port4}"></constructor-arg>  
				</bean>  
				<bean class="org.springframework.data.redis.connection.RedisClusterNode">  
					<constructor-arg name="host" value="${redis.host5}"></constructor-arg>  
					<constructor-arg name="port" value="${redis.port5}"></constructor-arg>  
				</bean>  
				<bean class="org.springframework.data.redis.connection.RedisClusterNode">  
					<constructor-arg name="host" value="${redis.host6}"></constructor-arg>  
					<constructor-arg name="port" value="${redis.port6}"></constructor-arg>  
				</bean>  
			</set>  
		</property>  
	</bean>  
	<bean id="jedisPoolConfig"   class="redis.clients.jedis.JedisPoolConfig">  
	        <property name="maxIdle" value="${redis.maxIdle}" />   
			<property name="maxTotal" value="${redis.maxTotal}" />   
	</bean>  
	<bean id="jeidsConnectionFactory_pro" class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory"  >
		<constructor-arg ref="redisClusterConfiguration" />  
		<constructor-arg ref="jedisPoolConfig" />  
	</bean>
</beans>